body {
	background-color: #3399FF;
}
#backtop {
	position: fixed;
	top: 50px;
	left: 50px;
	width: 50px;
	height: 50px;
	z-index: 999;
	/*background-color: red;*/
}
#backtop i {
	font-size: 30px;
	color: #3399FF;
	padding: 10px;
	border: 5px double #3399FF;
	border-radius: 30px;
	transform: scale(0.6);
	opacity: 0.5;
	-moz-opacity: 0.5;
	-webkit-opacity: 0.5;
	transition: all 0.3s;
}
#backtop i:hover {
	transform: scale(0.7);
	opacity: 0.7;
	-moz-opacity: 0.7;
	-webkit-opacity: 0.7;
	cursor: pointer;
}
#backtop p {
	width: 200%;
	height: auto;
	display: block;
	margin: auto;
	text-align: center;
	font-size: 13px;
	margin: 0;
	color: #3399FF;
	opacity: 0;
	-moz-opacity: 0;
	-webkit-opacity: 0;
	transition: all 0.2s;
	/*background-color: red;*/
}
.contain-80 {
	width: 90%;
	margin: auto;
}
#headstart {
	width: 80%;
	height: 620px;
	margin: auto;
	margin-top: 5%;
	position: relative;
	background-image: url(../img/head/1Artboard-1.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-color: white;
	-webkit-box-shadow: 0px 0px 10px 0px rgba(138,133,138,0.75);
	-moz-box-shadow: 0px 0px 10px 0px rgba(138,133,138,0.75);
	box-shadow: 0px 0px 10px 0px rgba(138,133,138,0.75);
}
#menubar {
	width: 90%;
	height: 12%;
	position: absolute;
	top: 2%;
	left: 5%;
	/*background-color: red;*/
}
#menubar #logo {
	width: 200px;
	height: 100%;
	/*background-color: blue;*/
	float: left;
	position: relative;
	/*border: 1px double #9933FF;*/
}
#menubar #logo h1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 30px;
	font-weight: bold;
	width: 200px;
	display: block;
	/*margin-left: 8%;*/
	margin-top: 5%;
	color: white;
	background-color: #6633CC;
	padding: 5px 0px;
	border-radius: 20px;
	text-align: center;
}
#menubar #logo h2{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 21px;
	width: 0px;
	height: 23px;
	font-weight: bold;
	display:block;
	color: #9933FF;
	animation: textaff 3s infinite;
	animation-direction: alternate;
	overflow: hidden;
	text-align: left;
	word-break: break-all;
	margin-left: 12%;
	border-right: 2px solid #9933FF;
	margin-top: 5%;
}
#logo a {
	text-decoration: none;
}
#menubar #menu {
	width: 40%;
	height: 100%;
	/*background-color: green;*/
	float: right;
	position: relative;
}
#menu ul {
	/*margin-top: 5%;*/
	/*float: left;*/
	/*position: absolute;
	top: 5%;*/
/*	background-color: blue;*/
}
#menu ul li {
	display: inline;
	list-style: none;
	/*padding: 2%;*/
	margin-left: 6%;
	/*background-color: red;*/
}
#menu ul li a {
	text-decoration: none;
	font-size: 17px;
	color: #6400ff;
}
#iconmenu {
	position: absolute;
	top: 0;
	right: -10px;
	display: none;
	/*border: 2px solid #0099FF;*/
}
#iconmenu i {
	font-size: 20px;
	color: #0099FF;
	padding: 5px;
}
#menures {
	width: 150px;
	height: auto;
	/*background-color: red;*/
	position: absolute;
	top: 0;
	right: 35px;
	transition: all 0.4s;
	opacity: 0;
	-moz-opacity: 0;
	-webkit-opacity: 0;
	z-index: 999;
	background-color: white;
	-webkit-box-shadow: 0px 0px 10px 0px rgba(138,133,138,0.75);
	-moz-box-shadow: 0px 0px 10px 0px rgba(138,133,138,0.75);
	box-shadow: 0px 0px 10px 0px rgba(138,133,138,0.75);
}
#menures a {
	width: 100%;
	display: block;
	text-align: center;
	padding: 5px 0;
	margin: 5px 0px;
	text-decoration: none;
	color: #0099FF;
	font-weight: bold;
}
#headbody {
	width: 100%;
	height: 70%;
	position: relative;
	/*background-color: red;*/
	position: absolute;
	bottom: 3%;
}
#headbody #hbtitle {
	width: 60%;
	height: 25%;
	display: block;
	/*float: left;*/
	margin-left: 5%;
	margin-top: 5%;
	/*background-color: red;*/
	position: relative;
}
#headbody #hbtitle h1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 28px;
	font-weight: bold;
	display: inline-block;
	/*margin-left: 8%;*/
	/*margin-top: 5%;*/
	color: #5a32f5;
}
#headbody #hbcontent {
	width: 40%;
	height: 25%;
	display: block;
	/*float: left;*/
	margin-left: 7%;
	margin-top: 1%;
	/*background-color: blue;*/
	position: relative;
}
#headbody #hbcontent p {
	color: #6763f5;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 17px;
	font-weight: bold;
	display: inline-block;
	text-align: justify;
	/*margin-left: 8%;*/
	/*margin-top: 5%;*/
}
#headbody #hblestgo {
	width: 300px;
	height: 100px;
	display: block;
	/*float: left;*/
	margin-left: 10%;
	margin-top: 3%;
	/*background-color: green;*/
	position: relative;
	transition: all 0.3s;
}
#hblestgo a {
	border-radius: 20px;
	width: 300px;
	padding: 20px 50px;
	text-align: center;
	background-color: #5d30ef;
	border :none;
	color: white;
	font-weight: bold;
	font-size: 25px;
	transition: all 0.3s;
	text-decoration: none;
}
#hblestgo:hover {
	transform: scale(1.05);
}
#hblestgo a:hover {
	background-color: #9933ff;
}
#slide {
	width: 80%;
	height: 450px;
	margin: auto;
	background-color: red;
	margin-top: 7%;
	display: flex;
	justify-content: space-around;
	background-color: white;
	-webkit-box-shadow: 0px 0px 10px 0px rgba(138,133,138,0.75);
	-moz-box-shadow: 0px 0px 10px 0px rgba(138,133,138,0.75);
	box-shadow: 0px 0px 10px 0px rgba(138,133,138,0.75);
}
.slideitem {
	width: 100%;
	height: auto;
	/*background-color: blue;*/
	transform: scale(0.6);
	transition: ease-in-out all 0.7s;
}
.slideitem:hover {	
	transform: scale(0.8);
	background-color: white;
	cursor: pointer;
	/*-webkit-box-shadow: 0px 0px 10px 0px rgba(138,133,138,0.75);
	-moz-box-shadow: 0px 0px 10px 0px rgba(138,133,138,0.75);
	box-shadow: 0px 0px 10px 0px rgba(138,133,138,0.75);*/
}
.slideitem img {
	width: 70%;
	height: 70%;
	margin: auto;
	/*background-color: green;*/
	display: block;
	size: 100% 100%;
	margin-top: 0%;
}
.slideitem h1 {
	text-align: center;
	margin-top: 1%;
}
.slideitem h1 a {
	font-size: 35px;
	font-weight: bold;
	text-decoration: none;
	color: #4c12f5;
}
.slideitem h2 {
	width: 80%;
	margin: auto;
	text-align: center;
	margin-top: 6%;
	font-size: 23px;
	/*font-weight: bold;*/
	color: #5433ff;
	margin-bottom: 5%;
}
#headgame {
	width: 70%;
	height: 200px;
	/*background-color: green;*/
	margin: auto;
	margin-top: 10%;
	margin-bottom: 3%;
	position: relative;
	transition: all 0.3s;
	/*border-radius: 40px;*/
	z-index: 999;
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
	/*background-color: rgb(255, 255, 255);*/
	/*-webkit-box-shadow: 0px 0px 10px 0px rgba(138,133,138,0.75);
	-moz-box-shadow: 0px 0px 10px 0px rgba(138,133,138,0.75);
	box-shadow: 0px 0px 10px 0px rgba(138,133,138,0.75);*/
}
#icongame {
	width: 260px;
	height: 240px;
	background-image: url(../img/head/headgame-01.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	/*float: left;*/
	/*background-color: red;*/
	position: absolute;
	left: 150px;
	bottom: 5px;
	/*margin-left: 5%;*/
}
#textgame {
	width: 60%;
	height: 100%;
	/*background-color: blue;*/
	position: absolute;
	right: 5%;
}
#textgame h1 {
	color: #4c12f5;
	font-family(stack): Arial, Helvetica, sans-serif;
	font-size: 60px;
	/*font-weight: bold;*/
	display: inline-block;
	margin-top: 8%;
	margin-left: 12%;
}
#textgame h2 {
	color: #5433ff;
	font-family(stack): Arial, Helvetica, sans-serif;
	font-size: 20px;
	/*font-weight: bold;*/
	display: inline-block;
	/*margin-top: 8%;*/
	margin-left: 15%;
}
#game {
	width: 100%;
	height: 760px;
	margin-top: 0%;
	position: relative;
	background-color: white;
	border-radius: 20px;
	-webkit-box-shadow: 0px 0px 10px 0px rgba(138,133,138,0.75);
	-moz-box-shadow: 0px 0px 10px 0px rgba(138,133,138,0.75);
	box-shadow: 0px 0px 10px 0px rgba(138,133,138,0.75);
}
#icongameitem {
	width: 100%;
	height: 15%;
	position: absolute;
	bottom: 5%;
	/*background-color: red;*/
}
#icongameitem ul {
	/*text-align: center;*/
}
#icongameitem ul li {
	display: inline-block;
	list-style: none;
	text-align: center;
	margin-left: 5%;
}
#icongameitem ul li a {
	font-size: 25px;
}
#gamecontent {
	width: 70%;
	height: 100%;
	/*background-color: green;*/
	float: left;
	position: relative;
}
#gameitems {
	width: 100%;
	height: 85%;
	/*background-color: red;*/
	margin-top: 2%;
	margin-left: 3%;
}
#pages {
	width: 100%;
	height: auto;
	position: absolute;
	bottom: 5%;
}
#pages ul {
	width: 80%;
	margin: auto;
	align-items: center;
}
#pages ul li {
	display: inline-block;
	list-style: none;
	padding: 0.5% 3%;
	margin-left: 2%;
	background-color: #4999f7;
	border-radius: 30px;
}
#pages ul li a {
	text-decoration: none;
	font-size: 20px;
	color: white;
	font-weight: bold;
}
#activepage {
	color: #3366CC;
}
.gameitem {
	width: 15%;
	height: 20%;
	margin: 2% 2%;
	background-color: pink;
	display: inline-block;
	position: relative;
	border-radius: 20px;
	transition: all 0.3s;
	cursor: pointer;
}
.overlay {
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0);
	position: absolute;
	border-radius: 20px;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	transition: all 0.3s;
}
.overlay h1 {
	color: white;
	font-family(stack): Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-weight: bold;
	text-align: center;
	width: 90%;
	margin: auto;
	margin-top: 18%;
	/*background-color: red;*/
	opacity: 0;
	transition: all 0.5s;
}
.overlay h1:hover {
	transform: scale(1.1);
}
.overlay h2 {
	color: white;
	font-family(stack): Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-weight: bold;
	text-align: center;
	width: 48%;
	/*margin: auto;*/
	margin-top: 12%;
	margin-bottom: 12%;
	/*margin-left: 15%;*/
	display: inline-block;
	/*background-color: red;*/
	opacity: 0;
	transition: all 0.5s;
}
.overlay h1 a {
	text-decoration: none;
	color: white;
}
.playnow {
	text-decoration: none;
	color: white;
	font-weight: bold;
	background-color: #6859E7;
	padding: 2% 8%;
	border-radius: 10px;
	transition: all 0.5s;
	opacity: 0;
}
.playnow:hover {
	text-decoration: none;
	color: white;
	padding: 2% 15%;
	border-radius: 0;
}
.gameitem:hover .overlay{
	background-color: rgba(0, 0, 0, 0.7);
	transform: scale(1.2);
	border-radius: 10px;
	border: 5px double white;
}
.gameitem:hover .overlay h1 {
	opacity: 1;
}
.gameitem:hover .overlay h2 {
	opacity: 1;
}
.gameitem:hover .overlay .playnow {
	opacity: 1;
}
.gameitem img {
	width: 100%;
	height: 100%;
	margin: 0;
	border-radius: 20px;
	transition: all 0.3s;
}
.gameitem:hover img {
	transform: scale(1.2);
	border-radius: 10px;
	opacity: 0.5;
}
#gametop {
	width: 28%;
	height: 550px;
	/*background-color: blue;*/
	float: left;
	transform: scale(0.8);
	transition: all 0.4s;
	background-color: white;
	-webkit-box-shadow: 0px 0px 10px 0px rgba(138,133,138,0.75);
	-moz-box-shadow: 0px 0px 10px 0px rgba(138,133,138,0.75);
	box-shadow: 0px 0px 10px 0px rgba(138,133,138,0.75);
}
#gametop:hover {
	transform: scale(0.9);
}
#gametoptitle {
	width: 100%;
	height: 70px;
	margin: auto;
	/*background-color: red;*/
	margin-top: 5%;
	position: relative;
}
#gametoptitle i {
	color: #FFFF00;
	font-size: 40px;
	display: inline-block;
/*	float: left;
	margin-top: 3%;*/
	position: absolute;
}
#gametoptitle h1 {
	color: #4c12f5;
	font-family(stack): Arial, Helvetica, sans-serif;
	font-size: 30px;
	/*font-weight: bold;*/
	display: inline-block;
	font-weight: bold;
	margin-top: 6%;
	text-align: center;
	width: 100%;
	/*background-color: blue;*/
}
.contain-80-gametop {
	width: 90%;
	height: 400px;
	margin: auto;
	/*background-color: red;*/
}
.gametopitem {
	width: 100%;
	height: 22%;
	margin-top: 7%;
	/*background-color: green;*/
}
.gametopitem img {
	width: 30%;
	height: 100%;
	margin-left: 2%;
	float: left;
	border-radius: 10px;
}
.gametopitemdes {
	width: 60%;
	height: 100%;
	margin-left: 5%;
	/*background-color: blue;*/
	float: left;
}
.gametopitemdes h1 {
	font-size: 18px;
	font-weight: bold;
	color: #302bfb;
	font-family(stack): Arial, Helvetica, sans-serif;
}
.gametopitemdes h1 a {
	transition: all 0.3s;
	color: #5c47ff;
}
.gametopitemdes h1 a:hover {
	text-decoration: none;
	color: #33CCFF;
}
.gametopitemdes h2 {
	font-size: 12px;
	font-weight: bold;
	color: #2470ff;
	font-family(stack): Arial, Helvetica, sans-serif;
}
#guide {
	width: 100%;
	height: auto;
	background-color: red;
	position: relative;
	margin-top: 4%;
	border-radius: 20px;
	background-color: white;
	-webkit-box-shadow: 0px 0px 10px 0px rgba(138,133,138,0.75);
	-moz-box-shadow: 0px 0px 10px 0px rgba(138,133,138,0.75);
	box-shadow: 0px 0px 10px 0px rgba(138,133,138,0.75);
}
#menuguide {
	width: 85%;
	height: 70px;
	display: flex;
	justify-content: space-around;
	/*background-color: red;*/
	position: relative;
	margin: auto;
}
.menuguide-select {
	width: 30%;
	height: 100%;
	margin-top: 2%;
	display: flex;
	justify-content: center;
	/*background-color: blue;*/
}
.menuguide-select > a {
	display: inline-block;
	padding: 0% 2%;
	font-size: 40px;
	font-weight: bold;
	color: #0099FF;
	height: 50%;
	text-decoration: underline;
	/*background-color: #0099FF;*/
	/*border-radius: 30px;*/
}
.menuguide-select > a:hover {
	color: #0099FF;
}
.menuguide-select > h1 {
	display: inline-block;
	color: #24A7FF;
	font-size: 30px;
	margin-left: 20px;
	cursor: pointer;
	font-family(stack): Arial, Helvetica, sans-serif;
}
#contentguide {
	width: 100%;
	height: auto;
	display: block;
	/*float: right;*/
	/*position: relative;*/
	margin-top: 3%;
	margin-bottom: 30px;
	/*background-color: blue;*/
	display: flex;
	justify-content: center;
}
#contentguide p {
	width: 100%;
	height: auto;
	margin: 0;
}
#contentguide #navguide {
	width: 10%;
	height: auto;
	/*background-color: green;*/
	display: inline;
}
#navguide h1 {
	font-size: 15px;
	color: white;
	padding: 10px 0px;
	font-weight: bold;
	background-color: #3399FF;
	/*border: 1px solid #666666;*/
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	text-align: center;
	margin-bottom: 2px;
	cursor: pointer;
	transition: all 0.3s;
}
#contentguide #content {
	width: 70%;
	height: 550px;
	background-color: white;
	display: inline;
	margin-bottom: 30px;
	overflow: auto;
	border: 3px solid #3399FF;
	transition: all 0.4s;
	text-align: justify;
}
#contentguide input {
	width: 50px;
	height: 50px;
}
#content p {
	padding: 20px;
	margin: 0;
}
#content h1 {
	display: block;
	width: 100%;
	height: auto;
	margin-top: 10px;
	font-size: 20px;
	text-align: center;
}
#contact {
	width: 100%;
	height: 650px;
	margin-top: 4%;
	position: relative;
	border-radius: 20px;
	/*background-color: red;*/
	position: relative;
	background-color: white;
	-webkit-box-shadow: 0px 0px 10px 0px rgba(138,133,138,0.75);
	-moz-box-shadow: 0px 0px 10px 0px rgba(138,133,138,0.75);
	box-shadow: 0px 0px 10px 0px rgba(138,133,138,0.75);
}
#contactdiv {
	width: 50%;
	height: 100%;
	/*background-color: black;*/
	float: left;
	margin-left: 2%;
}
#contactform {
	width: 80%;
	height: 90%;
	margin-left: 25%;
	margin-top: 1%;
	/*background-color: rgb(0,0,0,0.8);*/
	position: relative;
}
#contact h1 {
	width: 70%;
	margin: auto;
	font-family(stack): Arial, Helvetica, sans-serif;
	font-size: 35px;
	font-weight: bold;
	color: #0099FF;
	text-align: center;
	padding: 3% 1%;
	/*border-bottom: 2px solid #FF9933;*/
	/*background-color: red;*/
	/*margin-top: 4%;*/
}
#contactform .label {
	margin-left: 15%;
	margin-top: 7%;
	display: block;
	font-family(stack): Arial, Helvetica, sans-serif;
	font-size: 17px;
	color: #3366FF;
	margin-bottom: 0;
}
#contactform .input {
	margin-left: 18%;
	width: 60%;
	border: none;
	border-bottom: 1px solid #3399FF;
	outline: none;
	transition: all 0.3s;
}
#contactform .input:focus {
	border-bottom: 1px solid #00FFFF;
	transform: scale(1.2);
}
.textarea {
	width: 60%;
	height: 15%;
	margin-left: 18%;
	border: 1px solid #3399FF;
	outline: none;
	margin-top: 2%;
	resize: both;
	display: block;
	font-size: 15px;
	z-index: 99;
	transition: all 0.2s;
}
.textarea:focus {
	border: 1px solid #00FFFF;
	transform: scale(1.2);
}
#contactform input[type="submit"] {
	margin-left: 35%;
	margin-top: 5%;
	width: 20%;
	background-color: #3399FF;
	border: none;
	border-radius: 20px;
	padding: 1% 2%;
	font-weight: bold;
	color: #FFFFFF;
	z-index: -1;
	transition: all 0.3s;
}
#contactform input[type="submit"]:hover {
	transform: scale(1.2);
}
#contactdeco {
	width: 40%;
	height: 500px;
	/*background-color: red;*/
	float: left;
}
#contactdeco ul {
	width: 100%;
	margin: auto;
	/*background-color: red;*/
	text-align: center;
}
#contactdeco li {
	display: inline-block;
	list-style: none;
	width: 15%;
	height: 80%;
	font-size: 30px;
	transition: all 0.3s;
}
#contactdeco li:hover {
	transform: scale(1.3);
}
#contactdeco li a {
	color: #BBBBBB;
	transition: all 0.3s;
}
#contactdeco li a:hover {
	color: #3399FF;
}
#contacticon {
	width: 100%;
	height: 80%;
	margin-top: 0%;
	/*background-color: green;*/
}
#contacticons {
	width: 100%;
	height: 20%;
	margin-top: 5%;
	/*background-color: green;*/
}
#footer {
	width: 100%;
	height: 300px;
	margin-top: 5%;
	position: relative;
	background: rgba(51,153,255,1);
	background: -moz-linear-gradient(left, rgba(51,153,255,1) 0%, rgba(38,139,227,1) 29%, rgba(21,122,191,1) 67%, rgba(6,106,159,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(51,153,255,1)), color-stop(29%, rgba(38,139,227,1)), color-stop(67%, rgba(21,122,191,1)), color-stop(100%, rgba(6,106,159,1)));
	background: -webkit-linear-gradient(left, rgba(51,153,255,1) 0%, rgba(38,139,227,1) 29%, rgba(21,122,191,1) 67%, rgba(6,106,159,1) 100%);
	background: -o-linear-gradient(left, rgba(51,153,255,1) 0%, rgba(38,139,227,1) 29%, rgba(21,122,191,1) 67%, rgba(6,106,159,1) 100%);
	background: -ms-linear-gradient(left, rgba(51,153,255,1) 0%, rgba(38,139,227,1) 29%, rgba(21,122,191,1) 67%, rgba(6,106,159,1) 100%);
	background: linear-gradient(to right, rgba(51,153,255,1) 0%, rgba(38,139,227,1) 29%, rgba(21,122,191,1) 67%, rgba(6,106,159,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3399ff', endColorstr='#066a9f', GradientType=1 );
}
#footerleft {
	width: 40%;
	height: 80%;
	/*background-color: red;*/
	position: absolute;
	left: 3%;
	top: 18%;
	float: left;
	display: inline-block;
}
#footerleft h1 {
	width: 60%;
	margin-left: 10%;
	color: white;
	font-family(stack): Arial, Helvetica, sans-serif;
	font-size: 25px;
	font-weight: bold;
	/*background-color: red;*/
	text-align: center;
}
#footerleft p {
	width: 60%;
	margin-left: 10%;
	margin-top: 5%;
	color: white;
	font-family(stack): Arial, Helvetica, sans-serif;
	font-size: 15px;
}
#inputemail {
	width: 40%;
	height: 40px;
	/*background-color: white;*/
	margin: auto;
	margin-top: 5%;
	margin-left: 18%;
	position: relative;
}
#email {
	width: 85%;
	height: 100%;
	border: none;
	float: left;
	/*border-radius: 30px;*/
	border-top-left-radius: 30px;
	border-bottom-left-radius: 30px;
	color: #777777;
	text-align: center;
	font-size: 15px;
	font-family(stack): Arial, Helvetica, sans-serif;
}
#submit {
	background-color: #00CCFF;
	width: 15%;
	height: 100%;
	float: left;
	border:  none;
	border-top-right-radius: 30px;
	border-bottom-right-radius: 30px;
	transition: all 0.3s;
}
/*#submit:hover {
	background-color: #00FFCC;
}*/
#footerright {
	width: 60%;
	height: 85%;
	/*background-color: red;*/
	position: absolute;
	right: 0;
	top: 5%;
	float: right;
	display: inline-block;
}
#footerright h1 {
	text-align: center;
	text-align: center;
	font-size: 25px;
	/*margin-top: 5%;*/
	font-family(stack): Arial, Helvetica, sans-serif;
	color: white;
	/*font-weight: bold;*/
}
.team1 {
	width: 25%;
	height: 100%;
	margin: 1%;
	background-size: 100% 100%;
/*	opacity: 0.5;
	-moz-opacity: 0.5;
	-webkit-opacity: 0.5;*/
	display: inline-block;
	float: left;
	position: relative;
}
.team img {
	width: 80%;
	height: 80%;
	margin: auto;
	opacity: 0.8;
	-moz-opacity: 0.8;
	-webkit-opacity: 0.8;
	/*border-radius: 150px;*/
} 
.team h1 {
	text-align: center;
	/*color: white;*/
	text-align: center;
	font-size: 20px;
	/*margin-top: 5%;*/
	font-family(stack): Arial, Helvetica, sans-serif;
	color: #EEEEEE;
}
.team1 ul {
	position: absolute;
	bottom: 10%;
	/*background-color: red;*/
	width: 100%;
}
.team1 ul li {
	display: inline-block;
	list-style: none;
	text-align: center;
	margin-left: 10%;
	transition: all 0.3s;
}
.team1 ul li:hover {
	transform: scale(1.2);
}
.team1 ul li a {
	color: white;
	font-size: 25px;
	text-align: center;
	transition: all 0.4s;
}
.team1 ul li a:hover {
	color: #99FFFF;
}
#emailicon {
	position: absolute;
	right: 5%;
	top: 10%;
	font-size: 20px;
	color: white;
	transition: all 0.4s;
}

#under {
	width: 100%;
	height: 70px;
}
.div-50 {
	width: 50%;
	height: 100%;
	float: left;
	/*background-color: red;*/
}
.div-50 p {
	text-align: center;
	margin-top: 3%;
	font-size: 15px;
	color: #888888;
}
.div-100 {
	width: 100%;
	display: block;
}
.div-100 p {
	/*text-align: center;*/
	/*margin-top: 3%;*/
	font-size: 18px;
	color: #888888;
	display: inline-block;
	width: 33%;
	text-align: center;
}
@keyframes textaff{
	from {width: 0;}
	to {width: 180px;}
}

