@media screen and (max-width: 800px) {
	#menubar #logo h2 {
		display: none;
	}
	#menubar #logo h1 {
		transform: scale(0.5);
		margin: 0;
	}
	#menubar #logo {
		width: 100px;
	}
	#headstart {
		height: 450px;
	}
	#headbody #hbtitle {
		display: none;
	}
	#headbody #hbcontent p {
		font-size: 15px;
	}
	#headbody #hblestgo {
		transform: scale(0.8);
		margin-top: 100px;
		margin-left: 10px;
		/*margin-right: 50px;*/
		/*background-color: red;*/
	}
	#menubar #menu {
		display: none;
	}
	#iconmenu {
		display: block;
	}
	#slide {
		display: none;
	}
	#icongame {
		transform: scale(0.6);
		left: 5px;
		bottom: 5px;
	}
	#textgame {
		top: 20px;
		right: 10px;
	}
	#textgame h1 {
		font-size: 35px;
	}
	#textgame h2 {
		font-size: 12px;
	}
	.gameitem {
		width: 30%;
		margin: 1% 1%;
	}
}
