@media screen and (max-width: 1025px) {
	#profilehead {
		width: 60%;
		height: 250px;
		margin: auto;
		left: 15%;
		right: 15%;
	}
	#profileright h1 {
		margin: 10px;
	}
	#profileright table {
		font-size: 15px;
		width: 90%;
		margin: auto;
	}
	#icon {
		display: none;
	}
	#iconmenuprofile {
		display: block;
	}
	#iconkid {
		display: none;
	}
	.label {
		display: none;
	}
	.col-24-01 {
		width: 60%;
		height: 200px;
		margin: auto;
		display: flex;
		float: none;
		justify-content: space-around;
	}
	#infokid {
		width: 40%;
		height: 80%;
	}
	#infokid-01 {
		width: 100%;
		height: 48%;
		border: none;
	}
	#infokid-01 img {
		width: 60px;
		height: 60px;
		margin-top: 5px;
		margin-left: 5px;
	}
	#infokid-01 a h1 {
		font-size: 12px;
		margin-left: 10px;
		margin-top: 30px;
	}
	#infokid-01 h2 {
		display: none;
	}
	#infokid-02 {
		width: 100%;
		height: 48%;
		margin-top: 5px;	
	}
	#infotable {
		display: none;
	}
	#infokid-02 table:fisrt-child {
		display: none;
	}
	#infokid-02 table {
		width: 90%;
		height: 100%;
		margin: auto;
		/*border-bottom: 1px solid white;*/
		color: white;
		font-size: 15px;
	}
	#titlegame {
		background-color: unset;
	}
	#titlegame h1 {
		font-size: 15px;
		color: white;
	}
	#game {
		width: 58%;
		height: 80%;
		margin-top: 0;
	}
	#gameitems {
		overflow: scroll;
		height: 70%;
		margin-top: 20px;
	}
	.gameitem {
		height: 70%;
	}
	.col-50 {
		width: 60%;
	}
	.col-24 {
		width: 38%;
	}
	#smarts {
		width: 100%;
		height: 20%;
		margin-left: 10px;
		margin-top: 0px;
		overflow: scroll;
	}
	.smart {
		height: 60px;
		width: 20%;
		transform: scale(0.9);
		margin-top: 0px;
		margin-left: 5px;
		border-radius: 80px;
	}
	.smart h1 {
		font-size: 12px;
	}
	#chartline {
		width: 95%;
		height: 80%;
		margin-left: 15px;
		float: none;
		margin-left: 0;
	}
	#document {
		height: 380px;
	}
	#document h1 {
		font-size: 25px;
	}
	#contentevent h1:before {
		display: none;
	}
	#time {
		font-size: 16px;
	}
	#history > h1 {
		font-size: 12px;
	}
	#footerleft h1 {
		font-size: 20px;
		margin-top: 20px;
	}
	#footerleft p  {
		display: none;
	}
	#inputemail {
		height: 30px;
		margin-top: 50px;
		margin-left: 50px;
	}
	.team1 {
		height: 80%;
		margin-top: 20px;
	}
	.team1 ul li a {
		font-size: 15px;
	}
	.team1 ul {
		left: -15px;
	}
	.div-100 p {
		width: 33%;
		font-size: 12px;
	}
	#email {
	width: 80%;
	font-size: 10px;
	}
	#submit {
	width: 20%;
	}
	#emailicon i {
		font-size: 15px;
		margin-bottom: 5px;
	}
}
@media screen and (max-width: 600px) {
	#profilehead {
		width: 90%;
		height: 200px;
		margin: auto;
		left: 7%;
		right: 5%;
	}
	#profileleft a h1 {
		font-size: 13px;
	}
	#profileleft h2 {
		font-size: 10px;
	}
	#divmenu a {
		font-size: 18px;
	}
	#profileright h1 {
		font-size: 12px;
	}
	#profileright table {
		font-size: 12px;
	}
	#iconmenuprofile {
		font-size: 15px;
	}
	#menuprofile {
		top: 5px;
		right: 40px;
	}
	#head {
		height: 250px;
	}
	#infokid {
		width: 100%;
		display: block;
	}
	#game {
		display: none;
	}
	#infokid-01 img {
		margin-top: 10px;
		margin-left: 20px;
	}
	#infokid-01 a h1 {
		font-size: 15px;
		margin-left: 15px;
		margin-top: 30px;
	}
	.col-50 {
		width: 100%;
	}
	.col-24 {
		width: 100%;
		margin-top: 40px;
	}
	.smart {
		height: 45px;
	}
	#footer {
		display: none;
	}
	.div-50 {
		margin-top: 15px;
	}
	.div-50 p {
		font-size: 13px;
	}
	.div-100 {
		display: block;
	}
	.div-100 p {
		width: 100%;
		font-size: 12px;
	}
	#document h1 {
		font-size: 20px;
	}
	#documentcontent > h2 {
		font-size: 17px;
	}
	#time {
		font-size: 18px;
	}
}