@media screen and (max-width: 800px) {
	#menubar #logo h2 {
		display: none;
	}
	#menubar #logo h1 {
		transform: scale(0.5);
		margin: 0;
	}
	#menubar #logo {
		width: 100px;
	}
	#headstart {
		height: 450px;
	}
	#headbody #hbtitle {
		display: none;
	}
	#headbody #hbcontent p {
		font-size: 15px;
	}
	#headbody #hblestgo {
		transform: scale(0.8);
		margin-top: 100px;
		margin-left: 10px;
		/*margin-right: 50px;*/
		/*background-color: red;*/
	}
	#menubar #menu {
		display: none;
	}
	#iconmenu {
		display: block;
	}
	#slide {
		display: none;
	}
	#icongame {
		transform: scale(0.6);
		left: 5px;
		bottom: 5px;
	}
	#textgame {
		top: 20px;
		right: 10px;
	}
	#textgame h1 {
		font-size: 35px;
	}
	#textgame h2 {
		font-size: 12px;
	}
	.gameitem {
		width: 30%;
		height: 150px;
		margin: 5px;
	}
	#gamecontent {
		width: 90%;
		margin: 20px;
	}
	#gametop {
		display: none;
	}
	#gametop01 {
		display: block;
		width: 100%;
	}
	.listitem img {
		height: 60%;
	}
	#gametop01 #list {
		overflow-x: scroll;
	}
	#list .listitem {
		width: 30%;
	}
	.menuguide-select > a {
		font-size: 30px;
	}
	.menuguide-select > h1 {
		font-size: 20px;
	}
	#contentguide #navguide {
		width: 15%;
	}
	#contentguide #content {
		width: 60%;
	}
	#navguide h1 {
		font-size: 12px;
	} 
	#contact {
		height: 550px;
	}
	#contactdeco li {
		font-size: 20px;
	}
	#footerleft h1 {
		font-size: 20px;
		margin-top: 20px;
	}
	#footerleft p  {
		display: none;
	}
	#inputemail {
		margin-top: 50px;
		margin-left: 10px;
	}
	.team1 {
		height: 80%;
		margin-top: 20px;
	}
	.team1 ul li a {
		font-size: 18px;
	}
	.team1 ul {
		left: -25px;
	}
	.div-100 p {
		width: 33%;
		font-size: 12px;
	}
}
