#profilehead {
	width: 40%;
	height: 300px;
	margin: auto;
	margin-top: 0%;
	z-index: 999;
	position: absolute;
	top: 10%;
	left: 25%;
	right: 25%;
	/*border-radius: 20px;*/
/*	background-color: red;*/
	background-color: white;
	-webkit-box-shadow: 0px 0px 10px 0px rgba(138,133,138,0.75);
	-moz-box-shadow: 0px 0px 10px 0px rgba(138,133,138,0.75);
	box-shadow: 0px 0px 10px 0px rgba(138,133,138,0.75);
}
#profileleft {
	width: 45%;
	height: 110%;
	float: left;
	background-color: #222222;
	position: absolute;
	top: -5%;
	left: -5%;
	-webkit-box-shadow: 0px 0px 10px 0px rgba(138,133,138,0.75);
	-moz-box-shadow: 0px 0px 10px 0px rgba(138,133,138,0.75);
	box-shadow: 0px 0px 10px 0px rgba(138,133,138,0.75);
	/*margin-left: 3%;*/
}
#profileright {
	width: 55%;
	height: 100%;
	float: right;
	/*background-color: red;*/
	margin-left: 3%;
}
#profileright h1 {
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	margin-top: 8.5%;
	color: #999999;
	font-weight: bold;
}
.label {
	width: 120px;
	padding: 1% 0%;
	/*background-color: red;*/
}
td a:hover {
	text-decoration: none;
}
#menuicon {
	font-size: 20px;
	color: black;
	position: absolute;
	top: 2%;
	right: 2%;
	cursor: pointer;
	transition: all 0.3s;
}
#divmenu {
	position: absolute;
	width: 100%;
	height: 20%;
	/*background-color: white;*/
	bottom: 0;
	left: 0%;
	overflow: hidden;
	word-break: break-all;
	transition: all 0.3s;
	/*-webkit-box-shadow: 0px 0px 10px 0px rgba(138,133,138,0.75);
	-moz-box-shadow: 0px 0px 10px 0px rgba(138,133,138,0.75);
	box-shadow: 0px 0px 10px 0px rgba(138,133,138,0.75);*/
}
#divmenu a {
	text-decoration: none;
	color: white;
	display: inline-block;
	font-size: 24px;
	font-weight: normal;
	padding: 5% 8%;
	font-family: Arial, Helvetica, sans-serif;
	margin: 2% 2%;
	transition: all 0.3s;
} 
#divmenu a i {
	transition: all 0.3s;
}
#divmenu a:hover i{
	transform: scale(1.2);
}
#menuicon:hover {
	transform: scale(1.1);
}
#menuicon:hover #divmenu {
	width: 200px;
	height: 200px;
}
#icon {
	width: 8%;
	height: 15%;
	position: absolute;
	background-color: #222222;
	bottom: -5%;
	left: 45%;
	border-radius: 25px;
	overflow: hidden;
	transition: all 0.5s;
}
#icon i {
	font-size: 30px;
	margin-top: 8px;
	margin-left: 30px;
	color: white;
	transition: all 0.3s;
}
#icon:hover {
	width: 50%;
}
#icon a i:hover {
	transform: scale(1.2);
}
#head {
	width: 100%;
	height: 350px;
	background-color:#f5f2fd ;
	position: relative;
	background-image: url(../img/headprofilekid-01.png);
	background-size: 100% 100%;
}
#profileleft a img {
	width: 70%;
	height: 45%;
	margin: auto;
	margin-left: 15%;
	margin-top: 5%;
	opacity: 0.8;
	-moz-opacity: 0.8;
	-webkit-opacity: 0.8;
	transition: ease-in-out all 0.4s;
	border: 4px solid white;
	border-top-left-radius: 20px;
	border-bottom-right-radius: 20px;
/*	border-radius: 10px;*/
}
#profileleft a img:hover {
	opacity: 1;
	transform: scale(1.1);
	border-radius: 0;
}
#profileleft a {
	text-decoration: none;
}
#profileleft a h1 {
	font-size: 20px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	width: 100%;
	text-align: center;
	margin-top: 15%;
	color: white;
	transition: all 0.3s;
}
#profileleft a h1:hover {
	transform: scale(1.1);
}
#profileleft h2 {
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	color: white;
	width: 100%;
	text-align: center;
	margin-top: 5%;
	/*font-weight: bold;*/
	/*margin-top: 5%;*/
}
#footer {
	width: 100%;
	height: 300px;
	margin-top: 5%;
	position: relative;
	float: left;
	background: rgba(51,153,255,1);
	background: -moz-linear-gradient(left, rgba(51,153,255,1) 0%, rgba(38,139,227,1) 29%, rgba(21,122,191,1) 67%, rgba(6,106,159,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(51,153,255,1)), color-stop(29%, rgba(38,139,227,1)), color-stop(67%, rgba(21,122,191,1)), color-stop(100%, rgba(6,106,159,1)));
	background: -webkit-linear-gradient(left, rgba(51,153,255,1) 0%, rgba(38,139,227,1) 29%, rgba(21,122,191,1) 67%, rgba(6,106,159,1) 100%);
	background: -o-linear-gradient(left, rgba(51,153,255,1) 0%, rgba(38,139,227,1) 29%, rgba(21,122,191,1) 67%, rgba(6,106,159,1) 100%);
	background: -ms-linear-gradient(left, rgba(51,153,255,1) 0%, rgba(38,139,227,1) 29%, rgba(21,122,191,1) 67%, rgba(6,106,159,1) 100%);
	background: linear-gradient(to right, rgba(51,153,255,1) 0%, rgba(38,139,227,1) 29%, rgba(21,122,191,1) 67%, rgba(6,106,159,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3399ff', endColorstr='#066a9f', GradientType=1 );
}
#footerleft {
	width: 40%;
	height: 80%;
	/*background-color: red;*/
	position: absolute;
	left: 3%;
	top: 18%;
	float: left;
	display: inline-block;
}
#footerleft h1 {
	width: 60%;
	margin-left: 10%;
	color: white;
	font-family(stack): Arial, Helvetica, sans-serif;
	font-size: 25px;
	font-weight: bold;
	/*background-color: red;*/
	text-align: center;
}
#footerleft p {
	width: 60%;
	margin-left: 10%;
	margin-top: 5%;
	color: white;
	font-family(stack): Arial, Helvetica, sans-serif;
	font-size: 15px;
}
#inputemail {
	width: 40%;
	height: 40px;
	/*background-color: white;*/
	margin: auto;
	margin-top: 5%;
	margin-left: 18%;
	position: relative;
}
#email {
	width: 85%;
	height: 100%;
	border: none;
	float: left;
	/*border-radius: 30px;*/
	border-top-left-radius: 30px;
	border-bottom-left-radius: 30px;
	color: #777777;
	text-align: center;
	font-size: 15px;
	font-family(stack): Arial, Helvetica, sans-serif;
}
#submit {
	background-color: #00CCFF;
	width: 15%;
	height: 100%;
	float: left;
	border:  none;
	border-top-right-radius: 30px;
	border-bottom-right-radius: 30px;
	transition: all 0.3s;
}
/*#submit:hover {
	background-color: #00FFCC;
}*/
#footerright {
	width: 60%;
	height: 85%;
	/*background-color: red;*/
	position: absolute;
	right: 0;
	top: 5%;
	float: right;
	display: inline-block;
}
#footerright h1 {
	text-align: center;
	text-align: center;
	font-size: 25px;
	/*margin-top: 5%;*/
	font-family(stack): Arial, Helvetica, sans-serif;
	color: white;
	/*font-weight: bold;*/
}
.team1 {
	width: 25%;
	height: 100%;
	margin: 1%;
	background-size: 100% 100%;
/*	opacity: 0.5;
	-moz-opacity: 0.5;
	-webkit-opacity: 0.5;*/
	display: inline-block;
	float: left;
	position: relative;
}
.team img {
	width: 80%;
	height: 80%;
	margin: auto;
	opacity: 0.8;
	-moz-opacity: 0.8;
	-webkit-opacity: 0.8;
	/*border-radius: 150px;*/
} 
.team h1 {
	text-align: center;
	/*color: white;*/
	text-align: center;
	font-size: 20px;
	/*margin-top: 5%;*/
	font-family(stack): Arial, Helvetica, sans-serif;
	color: #EEEEEE;
}
.team1 ul {
	position: absolute;
	bottom: 10%;
	/*background-color: red;*/
	width: 100%;
}
.team1 ul li {
	display: inline-block;
	list-style: none;
	text-align: center;
	margin-left: 10%;
}
.team1 ul li a {
	color: white;
	font-size: 25px;
	text-align: center;
	transition: all 0.4s;
}
.team1 ul li a:hover {
	color: #99FFFF;
}
#emailicon {
	position: absolute;
	right: 5%;
	top: 10%;
	font-size: 20px;
	color: white;
	transition: all 0.4s;
}

#under {
	width: 100%;
	height: 70px;
}
.div-50 {
	width: 50%;
	height: 100%;
	float: left;
	/*background-color: red;*/
}
.div-50 p {
	text-align: center;
	margin-top: 3%;
	font-size: 15px;
	color: #888888;
}
.div-100 {
	width: 100%;
	display: block;
}
.div-100 p {
	/*text-align: center;*/
	/*margin-top: 3%;*/
	font-size: 18px;
	color: #888888;
	display: inline-block;
	width: 33%;
	text-align: center;
}
.contain-80 {
	width: 80%;
	margin: auto;
}
#contact {
	width: 100%;
	height: 600px;
	margin-top: 3%;
	position: relative;
	border-radius: 10px;
	float: left;
	/*background-color: red;*/
	position: relative;
	background-color: white;
	-webkit-box-shadow: 0px 0px 10px 0px rgba(138,133,138,0.75);
	-moz-box-shadow: 0px 0px 10px 0px rgba(138,133,138,0.75);
	box-shadow: 0px 0px 10px 0px rgba(138,133,138,0.75);
}
#contactdiv {
	width: 50%;
	height: 100%;
	/*background-color: black;*/
	float: left;
	margin-left: 2%;
}
#contactform {
	width: 80%;
	height: 90%;
	margin-left: 25%;
	margin-top: 1%;
	/*background-color: rgb(0,0,0,0.8);*/
	position: relative;
}
#contact h1 {
	width: 70%;
	margin: auto;
	font-family(stack): Arial, Helvetica, sans-serif;
	font-size: 35px;
	font-weight: bold;
	color: #0099FF;
	text-align: center;
	padding: 3% 1%;
	/*border-bottom: 2px solid #FF9933;*/
	/*background-color: red;*/
	/*margin-top: 4%;*/
}
#contactform .label {
	margin-left: 15%;
	margin-top: 7%;
	display: block;
	font-family(stack): Arial, Helvetica, sans-serif;
	font-size: 17px;
	color: #3366FF;
	margin-bottom: 0;
}
#contactform .input {
	margin-left: 18%;
	width: 60%;
	border: none;
	border-bottom: 1px solid #3399FF;
	outline: none;
}
.textarea {
	width: 60%;
	height: 15%;
	margin-left: 18%;
	border: 1px solid #3399FF;
	outline: none;
	margin-top: 2%;
	resize: both;
	display: block;
	font-size: 15px;
	z-index: 99;
}
#contactform input[type="submit"] {
	margin-left: 35%;
	margin-top: 5%;
	width: 20%;
	background-color: #3399FF;
	border: none;
	border-radius: 20px;
	padding: 1% 2%;
	font-weight: bold;
	color: #FFFFFF;
	z-index: -1;
}
#contactdeco {
	width: 40%;
	height: 500px;
	/*background-color: red;*/
	float: left;
}
#contactdeco ul {
	width: 100%;
	margin: auto;
	/*background-color: red;*/
	text-align: center;
}
#contactdeco li {
	display: inline-block;
	list-style: none;
	width: 15%;
	height: 80%;
	font-size: 30px;
}
#contactdeco li a {
	color: #BBBBBB;
	transition: all 0.3s;
}
#contactdeco li a:hover {
	color: #3399FF;
}
#contacticon {
	width: 100%;
	height: 80%;
	margin-top: 0%;
	/*background-color: green;*/
}
#contacticons {
	width: 100%;
	height: 20%;
	margin-top: 5%;
	/*background-color: green;*/
}
.contain-90 {
	width: 90%;
	margin: auto;
	position: relative;
	height: 800px;
	/*background-color: red;*/
	margin-top: 5%;
}
.col-24 {
	width: 24%;
	height: 100%;
	float: left;
	position: relative;
	/*background-color: blue;*/
}
.col-50 {
	width: 50%;
	height: 100%;
	float: left;
	position: relative;
	/*background-color: blue;*/
	margin: 0% 1%;
}
#infokid {
	width: 100%;
	height: 30%;
	background-color: #666666;
}
#infokid-01 {
	width: 80%;
	height: 40%;
	margin: auto;
	border-bottom: 2px solid white;
	border-radius: 3px;
	/*background-color: pink;*/
}
#infokid-01 img {
	width: 35%;
	height: 100%;
	border: 3px solid white;
	border-radius: 50px;
	display: inline-block;
	margin-top: 5%;
	float: left;
	/*background-color: red;*/
}
#infokid-01 a {
	margin: 0;
}
#infokid-01 a h1 {
	font-size: 20px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	text-align: center;
	/*margin-top: 15%;*/
	margin-left: 10%;
	margin-top: 12%;
	color: white;
	transition: all 0.3s;
	display: inline-block;
	/*float: left;*/
	/*background-color: red;*/
}
#infokid-01 a h1:hover {
	transform: scale(1.1);
}
#infokid-01 h2 {
	font-size: 15px;
	font-family: Arial, Helvetica, sans-serif;
	/*font-weight: bold;*/
	text-align: center;
	/*margin-top: 15%;*/
	margin-left: 10%;
	margin-top: 1%;
	color: white;
	display: inline;
	/*background-color: red;*/
	float: left;
	/*background-color: red;*/
}
#infokid-02 {
	width: 90%;
	height: 52%;
	margin: auto;
	margin-top: 6%;
	/*background-color: red;*/
}
#infokid-02 table {
	width: 80%;
	height: 50%;
	margin: auto;
	margin-top: 5%;
	border-bottom: 1px solid white;
	color: white;
}
#iconinfo {
	width: 100%;
	height: 40%;
	margin-top: 5%;
	/*background-color: white;*/
}
#iconinfo a i {
	color: white;
	font-size: 30px;
	margin: 2% 7%;
	transition: all 0.3s
}
#iconinfo a i:hover {
	transform: scale(1.2);
}
#intelligent {
	width: 100%;
	height: 50%;
	background-color: white;
	-webkit-box-shadow: 0px 0px 10px 0px rgba(138,133,138,0.75);
	-moz-box-shadow: 0px 0px 10px 0px rgba(138,133,138,0.75);
	box-shadow: 0px 0px 10px 0px rgba(138,133,138,0.75);
}
#chartline {
	width: 100%;
	height: 100%;
	float: left;
	/*background-color: red;*/
}
.titlesmart {
	width: 100%;
	height: 40%;
	/*background-color: red;*/
	border: none;
	cursor: pointer;
	transition: all 0.3s
}
.titlesmart:hover {
	transform: scale(1.1);
	border: none;
}
.titlesmart img {
	width: 40%;
	height: 90%;
}
.titlesmart h1 {
	/*background-color: red;*/
	display: inline-block;
	font-size: 15px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	text-align: center;
	margin-left: 5%;
}
.infosmart {
	width: 100%;
	height: 50%;
	/*background-color: blue;*/
	margin-top: 5%;
}
.infosmart h1 {
	width: 100%;
	margin: auto;
	text-align: center;
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}
.infosmart p {
	width: 90%;
	margin: auto;
	text-align: center;
	font-size: 13px;
	font-family: Arial, Helvetica, sans-serif;
	margin-top: 5%;
	/*font-weight: bold;*/
}
#game {
	width: 100%;
	height: 68%;
	margin-top: 2%;
	background-color: #666666;
	position: relative;
}
#titlegame {
	width: 70%;
	height: 10%;
	margin: auto;
	border-bottom: 1px solid white;
	/*margin-top: 5%;*/
	/*background-color: white;*/
}
#titlegame h1 {
	font-size: 20px;
	font-family: Arial, Helvetica, sans-serif;
	/*font-weight: bold;*/
	text-align: center;
	width: 100%;
	/*margin-top: 15%;*/
	/*margin-left: 20%;*/
	margin-top: 8%;
	color: white;
	transition: all 0.3s;
	display: inline-block;
	/*float: left;*/
	/*background-color: red;*/
}
.smarts {
	width: 23%;
	height: 23%;
	margin-top: 2%;
	margin-left: 1.5%;
	background-color: white;
	-webkit-box-shadow: 0px 0px 10px 0px rgba(138,133,138,0.75);
	-moz-box-shadow: 0px 0px 10px 0px rgba(138,133,138,0.75);
	box-shadow: 0px 0px 10px 0px rgba(138,133,138,0.75);
	float: left;
}