body {
	background-image: url(../img/1.jpg);
	background-size: 100% 150%;
	background-repeat: no-repeat;
}
#contain-signin {
	width: 60%;
	height: 450px;
	margin: auto;
	background-color: rgba(68,68,68,0.5);
	margin-top: 100px;
	position: relative;
}
#signin {
	background-image: url(../img/signin01.psd);
	width: 90%;
	height: 100%;
	margin: auto;
	/*background-color: blue;*/
	position: relative;	
}
#fortext {
	width: 57%;
	height: 100%;
	position: absolute;
	/*background-color: green;*/
	top: 0;
	left: -30px;
	bottom: 0;
}
#headtext {
	width: 80%;
	height: 50px;
	margin: auto;
	margin-top: 30px;
	/*background-color: red;*/
}
#headtext > h1 {
	font-size: 20px;
	margin: 0;
	margin-top: 10px;
	font-weight: bold;
	display: inline-block;
	font-family: Arial, Helvetica, sans-serif;

}
#headtext > h1 a {
	color: white;
	text-decoration: none;
	padding: 5px 15px;
	background-color: #9966FF;
	border-radius: 20px;
}
#giacmo {
	font-size: 20px;
	font-weight: bold;
}
#headtext > h2 {
	display: inline-block;
	font-size: 15px;
	margin: 0;
	font-weight: normal;
	margin-left: 30px;
	margin-top: 10px;
	font-family: Arial, Helvetica, sans-serif;
	color: white;
	padding: 5px 0px;
}
#contenttext {
	width: 80%;
	height: 300px;
	/*background-color: red;*/
	margin: auto;
	margin-top: 25px;
}
#contenttext > h1 {
	width: 100%;
	font-size: 20px;
	margin: 0;
	margin-top: 50px;
	font-weight: bold;
	display: inline-block;
	font-family: Arial, Helvetica, sans-serif;
	color: white;
	text-align: center;
	transition: all 0.4s;
}
#contenttext > h1 span {
	font-size: 23px;
	font-weight: bold;
}
#contenttext > p {
	width: 75%;
	height: auto;
	margin: auto;
	font-size: 15px;
	margin-top: 70px;
	/*background-color: red;*/
	color: white;
	text-align: justify;
	font-family: Arial, Helvetica, sans-serif;
}
#contenttext > p span {
	font-size: 16px;
	font-weight: bold;
}
#tacgia {
	display: block;
	width: 80%;
	margin: auto;
	text-align: right;
	margin-top: 25px;
	color: white;
	font-size: 17px;
}
#formsignin {
	position: absolute;
	right: -60px;
	top: 0;
	bottom: 0;
	width: 50%;
	background-color: white;
	transform: scale(1.1);
	transition: all 0.5s;
	z-index: 999;
	-webkit-box-shadow: 0px 0px 10px 0px rgba(138,133,138,0.75);
	-moz-box-shadow: 0px 0px 10px 0px rgba(138,133,138,0.75);
	box-shadow: 0px 0px 10px 0px rgba(138,133,138,0.75); 
	/*opacity: 0;*/
}
#formsignin h1 {
	display: block;
	width: 80%;
	height: auto;
	margin: auto;
	margin-top: 10%;
	font-size: 25px;
	font-weight: bold;
	padding: 3% 0%;
	/*border-bottom: 5px double #531EEF;*/
	/*background-color: red;*/
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	color: #531EEF;
}
.inputsignin {
	display: block;
	width: 60%;
	height: 30px;
	margin: auto;
	margin-top: 8%;
	position: relative;
	border: none;
	outline: none;
	border-bottom: 1px solid #A783FE;
}
.inputsignin input{
	display: block;
	width: 100%;
	height: 100%;
	text-align: left;
	/*margin: auto;
	margin-top: 10%;*/
	border: none;
	outline: none;
	/*position: relative;*/
	border-bottom: 1px solid #A783FE;
	transition: all 0.3s;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
}
.inputsignin input:focus {
	border-bottom: 1px solid #9933FF;
}
.inputsignin i {
	position: absolute;
	right: 3%;
	top: 10%;
	font-size: 18px;
	color: #757575;
	opacity: 0.4;
	-moz-opacity: 0.4;
	-webkit-opacity: 0.4;
}
#formsignin input[type="button"] {
	display: block;
	width: 25%;
	height: 30px;
	text-align: left;
	margin: auto;
	margin-top: 15%;
	text-align: center;
	border-radius: 20px;
	border: none;
	background-color: #531EEF;
	color: white;
	cursor: pointer;
	outline: none;
	transition: all 0.4s;
}
#formsignin input[type="button"]:hover {
	transform: scale(1.05);
}
#formsignin p {
	width: 100%;
	height: auto;
	margin: auto;
	text-align: center;
	font-size: 13px;
	color: #666666;
	margin-top: 8%;
}
#formsignin > p span {
	color: #3399FF;
	cursor: pointer;
	font-size: 15px;
}
#formsignup {
	position: absolute;
	right: 100px;
	top: 0;
	bottom: 0;
	width: 50%;
	background-color: white;
	transform: scale(1.1);
	transition: all 0.5s;
	opacity: 0;
	z-index: 0;
	-webkit-box-shadow: 0px 0px 10px 0px rgba(138,133,138,0.75);
	-moz-box-shadow: 0px 0px 10px 0px rgba(138,133,138,0.75);
	box-shadow: 0px 0px 10px 0px rgba(138,133,138,0.75); 
}
#formsignup h1 {
	display: block;
	width: 80%;
	height: auto;
	margin: auto;
	margin-top: 8%;
	font-size: 25px;
	font-weight: bold;
	/*padding: 3% 0%;*/
	/*border-bottom: 5px double #531EEF;*/
	/*background-color: red;*/
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	color: #531EEF;
}
#formsignup .inputsignin {
	display: block;
	width: 60%;
	height: 25px;
	margin: auto;
	margin-top: 6%;
	position: relative;
	border: none;
	outline: none;
	/*background-color: red;*/
	/*border-bottom: 1px solid #A783FE;*/
}
.inputsignin select {
	width: 45%;
	height: 100%;
	display: inline-block;
	text-align: center;
	border-radius: 5px;
	outline: none;
}
.inputsignin select:focus {
	border: 1px solid #9933FF;
}
#btnsignup {
	display: block;
	width: 50%;
	height: 30px;
	margin: auto;
	text-align: left;
	text-align: center;
	border-radius: 20px;
	border: none;
	background-color: #531EEF;
	color: white;
	cursor: pointer;
	outline: none;
	transition: all 0.4s;
}
#btnsignup:hover {
	transform: scale(1.05);
}
#returnsignin {
	width: 100%;
	height: 100%;
	text-align: center;
	font-size: 12px;
	color: #666666;
	display: inline-block;
	padding: 0;
	margin: 0;
}
#returnsignin span {
	color: #3399FF;
	cursor: pointer;
	font-size: 15px;
}
